<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Scientech - Homepage</title>
</head>
<body>
    <header class="header">
        <div class="header-top">
            <h2>Scientech Easy</h2>
        </div>
        <div class="header-nav">
            <a href="">Home</a>
            <a href="">Java</a>
            <a href="">HTML</a>
            <a href="">CSS</a>
            <a href="">Javascript</a>
        </div>
    </header>
    <main class="content">
        <img src="" alt="">
        <h2>Welcome to Scientech Easy</h2>
        <p>Belajar teknologi kini lebih mudah! Tentukan berbagai materi menarik seputar pemrograman, desain web, dan pengembangan software.</p>
        <button>Mulai Belajar</button>
    </main>
    <footer class="footer">
        <p>&copy; 2025 Scientech Easy. All Rights Reserved.</p>
    </footer>
</body>
</html>