header {
    background-color: rgb(103, 188, 103);
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

nav {
    width: 20%;
    background-color: rgb(220, 205, 207);
    padding: 1rem;
}

main {
    flex-grow: 1;
    margin: 0 1rem;
    background-color: rgb(253, 253, 170);
    height: 60vh;
    padding-bottom: 20px;
}

article {
    background-color: rgb(197, 197, 251);
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 20%;
    margin: 20px 20px 20px 20px;
}

footer {
    background-color: rgb(255, 213, 255);
    padding: 1rem;
    text-align: center;
}
